<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic India</title>
    <link rel="icon" href="https://organicindia.com/cdn/shop/files/logo-120x120_2.jpg?v=1743768667">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
         <div id="logo">
            <a href=""><img src="" alt=""></a>
         </div> <!--end of logo-->
         <div id="navbar">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                </ul>
            </nav>
         </div> <!--end of navbar-->
         <div id="icons">
            <i class="fas fa-heart"></i>
            <a href="">login</a>
            <i class="fas fa-search"></i>
            
         </div> <!--end of icons-->
    </header>

    <main>

        <section id="herosection">
            <div>
                <img src="" alt="">
            </div>
        </section> <!--end of herosection-->


        <section id="product">
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
           <div>
            <img src="" alt="">
            <h3></h3>
           </div>
        </section> <!--end of product-->

        <section id="booster">
          <div>
            <h2></h2>
            <img src="" alt="">
          </div>
          <div>
            <img src="" alt="">
            <h4></h4>
            <p></p>
            <button></button>
          </div>
          <div>
            <img src="" alt="">
            <h4></h4>
            <p></p>
            <button></button>
          </div>
          <div>
            <img src="" alt="">
            <h4></h4>
            <p></p>
            <button></button>
          </div>
          <div>
            <img src="" alt="">
            <h4></h4>
            <p></p>
            <button></button>
          </div>
          <div>
            <img src="" alt="">
            <h4></h4>
            <p></p>
            <button></button>
          </div>
        </section> <!--end of booster-->

        <section id="tulsi">
         <div class="tulsi-child">
            <img src="" alt="">
         </div>
         <div class="tulsi-child">
             <div>
                <h2></h2>
             </div>
             <div>
                <img src="" alt="">
             </div>
             <div>
                <h2></h2>
                <p></p>
             </div>
             <div>
                <img src="" alt="">
             </div>
             <div>
                <h2></h2>
                <p></p>
             </div>
             <div>
                <img src="" alt="">
             </div>
             <div>
                <h2></h2>
                <p></p>
             </div>
         </div>
        </section> <!--ens of tulsi-->

        <section id="healthy">
          <div>
            <h2></h2>
            <p></p>
            <button></button>
          </div>
          <div>
            <video src=""></video>
          </div>
        </section> <!--end of helathy-->


        <section id="review">
              <div>
                <h2></h2>
                <img src="" alt="">
                <p></p>
              </div>
        </section> <!--end of review-->


        <section id="other">
            <div>
                <h2></h2>
                <img src="" alt="">
            </div>
            <div>
                <div></div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div>
                <div></div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div>
                <div></div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div>
                <div></div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </section>


        <div>
            <img src="" alt="">
            <i></i>
            <h3></h3>
            <p></p>
        </div>


    </main>



    <footer>
     <div>
        <ul>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ul>
     </div>
     <div>
        <ul>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ul>
     </div>
     <div>
        <ul>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ul>
     </div>
     <div>
        <ul>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ul>
     </div>
     <div>
        <p></p>
     </div>
    </footer>
    
</body>
</html>